*{
    margin: 0;
    box-sizing: border-box;
}

div{
    border: 2px solid black;
    height:100vh;
    width: 100vw;
    background-color:red;
    background-color: gold;

    background-color: rgb(255,0,0);
    background-color: rgb(0,255,0);
    background-color: rgb(0,0,255);
    background-color: rgb(0,0,0);
    background-color: rgb(255,255,255);
    background-color: rgb(255,255,0);
    background-color: rgb(176, 29, 29);
    background-color: rgb(176, 0, 135);


    background-color: rgba(176,0,135,0.1);
    background-color: rgba(35, 26, 200, 0.276);

    background-color: #ff0000;
    background-color: #00ff00;
    background-color: #0000ff;
    background-color: #ffff00;
    background-color: #000000;
    background-color: #ffffff;
    background-color: #fb9300;
    background-color: #25a976;
    background-color: #f00;
    background-color: #0f0;

    background-color: rgb(125,64,57);
    background-color: rgb(207,159,255);
    background-color: rgb(227,66,186);
    background-color: rgb(231,195,159);
    background-color: rgb(220,220,220);
    background-color: rgb(0,0,180);
}