*{
  margin: 0;
  box-sizing: border-box;
}

#parent{
  height: 600px;
  width:800px;
  border: 5px solid black;
  background-color: yellow;
  display: flex;
  /* flex-direction: row; */
  /* flex-direction: row-reverse; */
  flex-direction: column;
  /* flex-direction: column-reverse; */
  /* flex-wrap: nowrap; */
  /* flex-wrap:wrap; */
  /* flex-wrap: wrap-reverse; */

  /* justify-content: flex-start;
  justify-content:center;
  justify-content: flex-end;
  justify-content: space-between;
  justify-content: space-around;
  justify-content: space-evenly; */

  /* align-items: flex-start;
  align-items: center;
  align-items: flex-end; */

  /* column-gap: 100px;
  row-gap: 20px; */

  /* gap: 10px 20px;
  gap: 10px; */
}
div{
  height: 150px;
  width: 150px;
  border: 2px solid black;
}
#red{
  background-color: red;
  /* flex-basis: 200px; */
  flex-basis: 20%;
}
#green{
  background-color: green;
  /* flex-basis: 50px; */
  flex-basis: 50%;
}
#blue{
  background-color: blue;
  /* flex-basis: 100px; */
  flex-basis: 30%;
}