@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap");
p {
  font-style: normal;
  font-style: oblique;
  font-style: italic;

  font-size: xx-small;
  font-size: larger;
  font-size: xx-large;
  font-size: 50px;

  font-weight: normal;
  font-weight: 700;
  font-weight: bold;

  font-family: cursive;
  font-family: fantasy;
  font-family: monospace;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-family: "Honk", system-ui;
  font-family: "Homemade Apple", cursive;
}
