@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* ! HOME PAGE STARTS HERE */
#home_page {
  height: 100vh;
  width: 100vw;
}
nav {
  height: 12vh;
  /* border: 2px solid red; */
  background-color: #a20c0b;
  display: flex;
}

#nav_one {
  /* border: 2px solid yellow; */
  flex-basis: 13%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 22px;
}

#nav_one > img {
  height: 60px;
  width: 95px;
}

#nav_two {
  /* border: 2px solid yellow; */
  flex-basis: 69%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#nav_two > a {
  color: white;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
}

#nav_three {
  /* border: 2px solid yellow; */
  flex-basis: 18%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 15px;
}

#login_btn {
  background-color: transparent;
  padding: 10px 20px;
  color: white;
  border: 1px solid white;
  font-size: 17px;
  font-weight: 500;
  border-radius: 5px;
}

#signup_btn {
  background-color: white;
  color: #a20c0b;
  padding: 10px 20px;
  font-size: 17px;
  font-weight: 500;
  border-radius: 5px;
  border: none;
}

header {
  /* height: 88vh; */
  border: 2px solid red;
  background-image: url("https://www.foodfood.com/wp-content/themes/twentytwentyone/assets/img/banner-bg.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
}

#header_one {
  border: 2px solid yellow;
  height: 25vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 25px;
}
#header_one>h1{
  font-size: 52px;
  font-weight: 500;
}
