*{
  margin: 0;
  box-sizing: border-box;
}
#parent{
  height: 600px;
  width: 800px;
  border: 5px solid black;
  background-color: yellow;
  display:grid;
  /* !2ROWS AND 2 COLS */
  /* grid-template-columns: 250px 400px;
  grid-template-rows: 150px 300px; */
  /* ! 3ROWS AND 2COLS */
  /* grid-template-columns: 250px 250px;
  grid-template-rows:50px 150px 50px; */
  /*! REPEAT() */
  /* grid-template-columns: repeat(2,250px);
  grid-template-rows: 50px repeat(2,150px); */
  /* ! 3ROWS AND 4COLS */
  /* grid-template-columns:50px repeat(3,100px);
  grid-template-rows: 100px 150px 100px; */
  /* ! 4ROWS AND 3COLS */
  grid-template-columns:repeat(3,auto);
  grid-template-rows: 50px 100px repeat(2,auto);

  /* column-gap: 50px;
  row-gap:30px; */

  /* gap: 10px 50px;
  gap: 20px; */
}
div{
  /* height: 150px;
  width: 150px; */
  border: 2px solid black;
}
#one{
  background-color: red;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-column: 1/3;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-row: 1/3;

  grid-area: 1/1/3/3;
}
#two{
  background-color:green;
}
#three{
  background-color:blue;
}
#four{
  background-color: orange;
}
#five{
  background-color:darkkhaki;
}
#six{
  background-color: darkmagenta;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-column: 1/4;
}
#seven{
  background-color: brown;
}
#eight{
  background-color: aqua;
}
#nine{
  background-color: fuchsia;
  grid-row-start: 5;
  grid-row-end: 7;
  grid-row: 5/7;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-column: 3/4;
  grid-area: 5/3/7/4;
}
#ten{
  background-color: gold;
}
#eleven{
  background-color: silver;
}
#twelve{
  background-color: olive;
}