* {
  margin: 0;
  box-sizing: border-box;
}
/* !STATIC */
/* #static{
    height: 200px;
    width: 200px;
    border: 5px solid black;
    background-color: yellow;
    position:static;
    top: 20px;
} */

/* !RELATIVE */
/* #relative{
    height: 300px;
    width: 300px;
    border: 5px solid black;
    background-color: lightblue;
    position: relative;
    bottom: 1000px;
    top: 300px;
    left: 550px;
    right: 900px;
} */

/* !ABSOLUTE */
/* #home{
    height: 600px;
    width: 700px;
    border: 5px solid black;
    background-color: yellow;
    margin: 50px;
    position: relative;
}
div{
    height:150px;
    width: 150px;
    border: 2px solid black;
}
#red{
    background-color: red;
    position: absolute;
    top: 20px;
}
#green{
    background-color: green;
}
#blue{
    background-color:blue;
} */

/* !TASK (SMILEY)*/
/* #face {
  height: 500px;
  width: 500px;
  border: 5px solid black;
  background-color: yellow;
  border-radius: 50%;
  position: relative;
  top: 110px;
  left: 500px;
}
.eyes {
  height: 80px;
  width: 80px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 130px;
  border: 10px solid white;
}

.left_eye {
  left: 100px;
}

.right_eye {
  right: 100px;
}

#mouth {
  height: 120px;
  width: 250px;
  background-color: tomato;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border: 5px solid black;
  position: absolute;
  bottom: 100px;
  left: 120px;
}

.teeth {
  height: 50px;
  width: 40px;
  display: inline-block;
  background-color: #fff;
  position: relative;
  left: 75px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
} */

/* ! FIXED */
/* #box{
  height: 250px;
  width: 250px;
  border: 5px solid black;
  background-color: maroon;
  position: fixed;
  top: 180px;
  left: 550px;
}
p{
  font-size: 50px;
} */

/* !STICKY */
/* section{
  height: 1200px;
  border: 10px solid black;
}
#one{
  background-color: lightblue;
}
#two{
  background-color: lightgreen;
}
nav{
  height: 100px;
  background-color:lightcoral;
  position: sticky;
  top: 0px;
}
p{
  font-size: 70px;
} */

/* !Z-INDEX */
/* img{
  height: 400px;
  width: 280px;
}
[alt="samantha"]{
  position: absolute;
  z-index:1000;
}
[alt="shruthi"]{
  position: absolute;
  z-index: 2;
}
[alt="sreeleela"]{
  position: absolute;
  z-index: 100;
} */

/* !TASK (POSTER) */
body{
  height: 100vh;
  width: 100vw;
  background-color: rgba(128, 128, 128, 0.362);
}
#container{
  height: 450px;
  width: 650px;
  background-color: #fff;
  position: relative;
  top: 130px;
  left: 470px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

[alt="logo"]{
  height: 80px;
  width: 150px;
  position: absolute;
  top:10px;
  left:20px;
}

[alt="coke"]{
  height: 300px;
  width: 220px;
  position: absolute;
  bottom: 70px;
  left: 80px;
}

[alt="burger"]{
   height: 300px;
   width: 390px;
     position: absolute;
  bottom: 40px;
  left: 140px;
  z-index:1;
} 

[alt="fries"]{
  height: 300px;
  width: 280px;
  position: absolute;
  right: 50px;
  top: 100px;
}