*{
  margin: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#box{
  height: 200px;
  width: 200px;
  background-color:orange;
  border: 5px solid black;
  transition: all 2s 0s ease;
}

#box:hover{
  transform: translateX(500px);
  transform: translateX(-500px);
  transform: translateY(200px);
  transform: translateY(-200px);
  transform: translate(500px,200px);
  transform: translate(500px);

  transform: rotate(360deg);
  transform: rotate(-90deg);
  transform: rotateX(90deg);
  transform: rotateY(90deg);

  transform: scaleX(2);
  transform: scaleX(0.5);
  transform: scaleY(3.5);
  transform: scaleY(0.1);
  transform: scale(3.2,0.6);
  transform: scale(4);
  transform: scale(0.2);

  transform: skewX(60deg);
  transform: skewX(-30deg);
  transform: skewY(60deg);
  transform: skewY(-30deg);
  transform: skew(30deg,45deg);
  transform: skew(30deg);
 
  transform: translate(150px,100px) rotate(360deg) scale(2) skew(30deg);
}