*{
    margin: 0;
    box-sizing: border-box;
}

h1{
    color: white;
    background-color: tomato;
    text-align: center;
}

button{
    width: 100%;
    height: 50px;
    background-color: royalblue;
    color: white;
    border: none;
    font-weight: 700;
}