@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.step-counter {
  height: 100vh;
  width: 100vw;
  background-color: #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter-container {
  height: 280px;
  width: 450px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 10px black;
  position: relative;
}

#container1 {
  border: 2px solid red;
  height: 40px;
  width: 40px;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  color: white;
  font-weight: 500;
  border-radius: 50%;
  position: absolute;
  right: -10px;
  top: -10px;
}

#container2 {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  height: 65px;
  /* gap: 50px; */
}
#container2 > p {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: 600;
}

.active {
  background-color: royalblue;
  color: white;
}

#container3 {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container4 {
  height: 85px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
#container4 > button {
  background-color: royalblue;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  font-weight: 500;
}
