*{
  margin: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}
#outer{
  height: 400px;
  width: 400px;
  background-color: yellow;
  border: 5px solid black;
  display: grid;
  place-items: center;
}
#inner{
  height: 200px;
  width: 200px;
  border: 5px solid black;
  background-color: red;
}