*{
    margin: 0;
    box-sizing: border-box;
}

#main_container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

#color_preview{
    height: 400px;
    width: 90vw;
    border: 2px solid black;
    border-radius: 20px;
}