* {
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
}

#background {
  height: 100%;
  flex-basis: 40%;
}

#background img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#form_section {
  flex-basis: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

#form_section #para {
  font-size: 30px;
  font-family: cursive;
  color: #111a3d;

  position: relative;
  right: 5px;
}
#form_section p {
  font-size: 30px;
  font-family: cursive;
  color: rgba(0, 0, 0, 0.5);
}
#form_section p span {
  font-size: 15px;
  font-family: cursive;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 5px;
}

form {
  padding: 60px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#form_section form input {
  height: 60px;
  width: 300px;
  padding: 20px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  font-size: 24px;
  font-family: cursive;
}

#form_section form input::placeholder {
  font-size: 15px;
  text-transform: capitalize;
}

#form_section form #submit {
  background-color: #111a3d;
  color: white;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 2px;
  border: none;
  border-radius: 40px;
  margin-top: 30px;
}
#form_section form #submit:hover {
  background-color: rgb(124, 148, 223);
  color: white;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 2px;
  border: none;
}

p a {
  text-decoration: none;
  padding: 20px;
  font-weight: bold;
  font-size: 20px;
  font-family: cursive;
  color: #111a3d;
}
